/* for The main page */
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    /* checkered background */
    background-color: #ffffff;
    background-image:
            linear-gradient(rgba(159, 148, 148, 0.5) 2px, transparent 2px),
            linear-gradient(90deg, rgba(119, 113, 113, 0.5) 2px, transparent 2px),
            linear-gradient(rgba(51, 49, 49, 0.28) 1px, transparent 1px),
            linear-gradient(90deg, rgba(0, 0, 0, 0.28) 1px, transparent 1px);
    background-size: 200px 200px, 200px 200px, 40px 40px, 40px 40px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}
input{
    border-color: black;
}
h1,h2{
    font-weight: lighter;
}
header{
    text-align: center;
}
img{
    width: 30%;
    height: 30%;
}
label{
    font-weight: bolder;
    margin-bottom: 1em;
}
button{
    padding: .75em 1.25em;
    margin: 1em;
    border-radius: 10em;
    background-color: rgb(255, 159, 80);
    color: white;
    font-size: 1em;
    letter-spacing: .15em;
    width: 8em;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
table {
    border-collapse: collapse;
    table-layout: auto;
    width: 130%;
    background: white;
    text-align: left;
    border-style: solid;
    border-color: black;
}
th{
    padding: 0.3rem;
    background: lightgray;
}
td{
    padding: 0.3rem;
}
#enterLobby{
    display: flex;
    justify-content: space-around;
    margin-top: 10%;
}
#name{
    text-align:center;
}

#newGameLabelDiv{
    display: flex;
    justify-content: center;
}
#emptySpaceDiv{
    display: flex;
    justify-content: center;
}
#newGameButtonDiv{
    display: flex;
    justify-content: center;
}
#sessionIdLabelDiv{
    display: flex;
    justify-content: center;
}
#sessionIdInputDiv{
    display: flex;
    justify-content: center;
}
#sessionIdButtonDiv{
    display: flex;
    justify-content: center;
}

/* for the Lobby */
#lobby{
    display: flex;
    justify-content: space-around;
    margin-right: 0;
}
#playerTable{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#sessionIDDIV{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#sessionIDtext{
    text-align: center;
    font-size: 1.1em;
}

#lobbyHeadlineDIV{
    display: flex;
    justify-content: center;
}
#lobbyHeadline{
    font-size: 3em;
}
#startGameDIV{
    display: flex;
    justify-content: center;
}
.noMargin{
    margin: 0;
}
.frame{
    margin: 10%;
}
.flexed{
    display: flex;
    justify-content: center;
}

li{
    list-style-type: none;
    margin: 0.4em;
    padding: 0;
}
ul{
    padding: 0;
    font-size: 1.4em;
    margin: 0.5em;
}
h2{
    font-size: 1.5em;
    margin: 0.5em;
}
#player0{
    color: #ff0000;
}
#player1{
    color: #ffbf7bff;
}
#player2{
    color: #5abbbeff;
}
#player3{
    color: #036c99ff;
}
#mapCanvas{
    background: white;
}
#gameScores{
    margin-left: 2em;
}